* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.question {
    margin-top: 2em;
}

.answare {
    margin-top: 1em;
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}