* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.question {
    margin-top: 2em;
}

.answer {
    margin-top: 1em;
    font-size: 1.2em;
}

h3 {
    margin-bottom: 0.6em;
}

p {
    margin-bottom: 1em;
}

a {
    color: blue;
    text-decoration: none;
}

ol {
    margin-left: 1em;
    margin-bottom: 1em;
}

ol > li > ol {
    margin: 1em 0 1em 2em;
}